.content-container {
    display: flex; 
    width: 100%;
  }
  
.left-side-content {
    flex: 1;
}

.right-side-content {
    width: 400px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius:6px;
    flex-direction: column; 
}

.streaks {
    background-color: #d49ae6;
    padding: 2px 20px;
    border-radius: 10px 10px 0px 0px;
}

.highest-data {
    background-color: #d49ae6; 
    padding: 1px 20px;
}

.your-goals {
    background-color: #d49ae6; 
    padding: 2px 20px;
    border-radius: 0px 0px 10px 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    overflow: hidden; 
    background-color: white;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #d49ae6;
}

th {
    background-color: #edb8ff;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #d49ae6;
    transition: 0.3s;
}

.search-results {
    margin-left:20px;
}

  

