/* Overall Page Styling */
.dashboard {
  background-color: #3e3e3e;
  color: #fff;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.dashboard-flex {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

.workout-list {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.active {
  background-color: rgba(253, 112, 255, 0.1);
  color: white;
}

.workout-toggle {
  justify-content: flex-start;
}

.create-workout-button {
  margin-left: auto;
}

.user-info {
  margin-right: 30px;
}

.explore {
  justify-content: space-between;
}
.workouts-list,
.current-workout-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workout-card {
  flex: 0 0 30%;
  margin: 1%;
  box-sizing: border-box;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #3a3a3a;
  max-width: 100%;
}

.workout-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.workout-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: capitalize;
}

.search-input {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.explore-page {
  padding: 10px;
}

.back-button {
  width: 10%;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.explore-title {
  justify-content: flex-start;
  margin-left: 0;
}

.add-selected {
  justify-content: flex-end;
}

.add-selected-button {
  justify-content: flex-end;
  font-size: 15px;
  background-color: gray;
}
