.all-movement-goals input[type="text"] {
  border: 3px solid #d49ae6;
}

.all-movements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.movement-card-goal {
  text-align: center;
}

.goal-input input {
  width: 80%;
  border: 3px solid #d49ae6;
}

.save-goal-button {
  background-color: #edb8ff;
  text-align: center;
  margin-left: auto;
  margin-top: 10px;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-goal-button:hover {
  background-color: #d49ae6;
}

.search-input {
  margin-left: 20px;
}

.goal-title {
  margin-left: 30px;
}
