.all-movement-goals input[type="text"] {
  border: 3px solid #6c3483;
}

.all-movements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.movement-card-goal {
  text-align: center;
}

.goal-input input {
  width: 80%;
  border: 3px solid #6c3483;
}
