.whole-page {
    display: flex;
}

.your-spotify {
    flex: 2;
}

.all-playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 2px 5px;
}

.one-playlist {
    background-color: #d49ae6;
    text-align: center;
    color: white;
}

.one-playlist:hover {
    background-color: #edb8ff;
}

.playlist-image {
    width: 100%;
}

.now-playing {
    text-align: center;
    color: white;
}

.album-image {
    width: 80%;
}

.playlist-buttons {
    display: flex;
    justify-content: center;
    color: white;
}

.playing-buttons button {
    color: white; 
    background-color: #d49ae6;
    border: 1px solid white; 
    padding: 10px 20px; 
}
  
.playing-buttons button:hover {
    background-color: #edb8ff; 
}

.playlist-search-bar {
    width: 97.5%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}